*{
font-size:116%;
font-family:Calibri;
}


body{
background-color:aliceblue;
}

.nav{
background-color:black;
}

.nav a{
color:white;
text-decoration:none;
padding:5%;
}

.nav a:hover{
color:yellow;
}


input[type="number"],
input[type="text"]
{
width:90%;
margin-left:2%;
margin-right:2%;
}

fieldset{
width:87%;
margin-left:2%;
margin-right:2%;
}